@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");


html * {
  height: unset;
}

html, body {
  margin: auto;
  padding: auto;
  background: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  background: black;
  /* background: rgb(221, 46, 46); */
  /* box-sizing: border-box; */
  /*   justify-content: flex-start; */
  /*   justify-content: flex-end; */
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  /* flex: 0 1 auto;
  flex-flow: row wrap;
  flex-wrap: nowrap; */
  /* background:  blue; */
  /* border: solid;
  color: violet; */
  /* margin-bottom: 5px; */
  /* border-radius: 3px; */
  /* align-items: stretch; */
  /* height: 100px; */
  /* color:darkgrey;
  border-bottom: solid 2px; */
  /* border-bottom: 5px; */
}

.left {
  /* background: red; */
  color: white;
  display: flex;
  flex-basis: 50%;
  justify-content: flex-start;
  /* width: 50%; */
  /* border: solid; */
  font-size: 1em;
  /* padding-left: 10px; */
  align-self: center;
  /* text-align: start; */
}

.left_content_b {
  padding-left: 1em;
  padding-right: 1em;
}

.left_content_s {
  /* padding-left: .5em;
  padding-right: .5em; */
}

.logo {
  /* background: yellow; */
  /* width: 20%; */
  /* flex-basis: 20%; */
  /* color: violet;
  border-left: solid;
  border-right: solid; */
  /* margin: auto;  */
  padding-top: .7em;
  padding-bottom: .7em;
  /* display: block; */
  /* color: white; */
}

.right {
  /* background: green; */
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  /* border:solid; */
  /* border: ridge; */
  font-size: 1em;
  color: white;
  align-self:center;
  /* text-align: end; */
}

.right_content_b {
  padding-left: 1em;
  padding-right: 1em;
  align-self:center;
}

.right_content_acc_b {
}

a {
  color: white;
  text-decoration: none;
}




.reklama {
  display: flex;
  flex-flow: row wrap;
  /* text-align: center; */
  /* height: header - footer;
  overflow: auto;
  overflow-x: hidden; */
  /* border-radius: 3px; */
  /* height: 150px; */
  /* height: 50px; */
  /* margin-top: -50px; */
  /* border: solid;
  color: violet; */
  margin: 10px 0px;
  grid-template-columns: max-content;
}

.main {
  /* padding-top: 100px; */
  /* margin: 100px; */
  /* display: flex;
  flex-flow: row wrap; */
  /* text-align: center; */
  /* height: header - footer;
  overflow: auto;
  overflow-x: hidden; */
  /* border-radius: 3px; */
  /* height: 50px; */
  /* margin-top: -50px; */
  /* border: solid;
  color: violet; */
  /* margin: 10px 0px;
  grid-template-columns: max-content; */
}




.img_icons_right {
  height: 50px;
}

.img_brands {
  max-width: 100%;
  /* height: auto; */
}

.img_brands_h {
  max-height: 100%;
  height: auto;
}

.empty {
  padding-top: 90px;
  /* background: red; */
}

.wrapper {
  display: grid;
  /* max-width: fit-content; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-rows: repeat(auto); */
  /* grid-template-columns: repeat(auto-fill, minmax(298px, 1fr)); */
  grid-template-columns: repeat(6, 1fr);

  /* grid-template-rows: none;
  grid-template-rows: max-content; */

  /* grid-template-rows: repeat(auto-fill, minmax(300px, 1fr)); */
  /* margin: 0 auto; */
  /* minmax(405px, auto); */
  gap: .7em;
  padding: .7em;
}

/* grid-template-columns: repeat(5, 1fr);
grid-template-columns: repeat(5, 1fr);
grid-template-columns: repeat(5, 1fr);
grid-template-columns: repeat(5, 1fr);
grid-template-columns: repeat(5, 1fr); */



.cww {
  background: white;
  /* background: white; */
  /* padding-top: 0.5rem!important;
  height: calc(50vw - 0.5rem - 2px);
  max-width: 20%;
  flex-basis: 20%; */
}

.block {
  /* height: 300px;
  /* text-align: center; */
  background:   white;
  /* height: header - footer;
  overflow: auto;
  overflow-x: hidden; */
  /* border-radius: 3px; */
  /* margin-top: -50px; */
  /* border: solid;
  color: green; */
  /* margin: 5px 0px 5px 5px; */
  /* display: block; */

  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid #F3BC41;
  border-right: 3px solid #46BEA9;
  border-bottom: 3px solid #04629C;
  border-left: 3px solid #0C5275;
  /* padding: 3px; */
}



